<link rel="stylesheet" type="text/css" href="/css/home.css">
<link rel="shortcut icon" href="/favicon.ico">

<div class="body">
    <h1>Look for an article to summarize</h1>
    <div class="searchButton">
        <a class="nav-link nav-button" id="search" href="/search"><img class="search-img" src="/img/search.png" alt="Search Icon" /> Search</a><br>
    </div>
    <div class="posts-section">
        <% if @matches.empty? %>
            <p id="searchedText">No matches found.</p>
        <% else %>
            <% @matches.each do |match| %>
                <div class="post display" id="past-post">
                  <a href="/home/<%= match['id'] %>"> <!-- Use hash syntax to access 'id' -->
                    <div class="black-bottom-border">
                      <% summaryNum = Summary.where(post_id: match['id']).count %>
                      <p class="summaryNum">Summaries: <%= summaryNum %></p>
                      <p class="info">Keyword: <%= match['keyword'] %></p>
                      <% dif = Difficulty.find_by(id: match['difficulty_id']) %>
                      <p class="info">Difficulty: <%= dif.difficulty %></p>
                      <% len = Length.find_by(id: match['length_id']) %>
                      <p class="info">Length: <%= len.length %></p>
                    </div>
                    <%= match['content'] %>
                  </a>
                  <br>            
                </div>
            <% end %>
        <% end %>
    </div>
</div>
